.idea

# vite build
packages/**/dist

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
packages/*/.next/
packages/*/out/

# production
packages/**/build
packages/*/temp

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*

# Local SSL certificates
/.certs/
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
packages/*/next-env.d.ts

dynamic-gitlab-ci.yml

# storybook
storybook-static

# rollup
.rollup.cache

# vscode
.vscode

# gatsby
.cache/
packages/cms/**/public

*.local

# eslint cache
.eslintcache

playwright-report
test-results

CLAUDE.md
AGENTS.md
.claude/*
openspec/*
